numpy
captum
lime
psycopg2
scipy
pandas
sktime
matplotlib
tsaug
tqdm
rich
pytorch-lightning
hydra-core
munch
omegaconf
wandb
einops
opt_einsum
pykeops
cmake
torchtext
datasets
transformers
statsmodels
